<html xmlns:th="http://www.thymeleaf.org">
<aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 " id="sidenav-main">
    <div class="sidenav-header">
        <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
        <a class="navbar-brand m-0" target="_blank">
            <img th:src="@{/img/logo-ct-dark.png}" class="navbar-brand-img h-100" alt="main_logo">
            <span class="ms-1 font-weight-bold">AmeriKorea</span>
        </a>
    </div>
    <hr class="horizontal dark mt-0">
    <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:classappend="${requestURI == '/api/portfolio'} ? ' active'" th:href="@{/api/portfolio}">
                    <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="ni ni-tv-2 text-primary text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">Portfolio</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:classappend="${requestURI == '/api/asset'} ? ' active'" th:href="@{/api/asset}">
                    <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="ni ni-tv-2 text-primary text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">Assets</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:classappend="${requestURI == '/page/correlation.html'} ? ' active'" th:href="@{/page/correlation.html}">
                    <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="ni ni-calendar-grid-58 text-warning text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">Correlation Analysis</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:classappend="${requestURI == '/page/billing.html'} ? ' active'" th:href="@{/page/billing.html}">
                    <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="ni ni-credit-card text-success text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">Risk Analysis</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:classappend="${requestURI == '/page/billing.html'} ? ' active'" th:href="@{/page/billing.html}">
                    <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="ni ni-app text-info text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">ETF Recommendation</span>
                </a>
            </li>
            <li class="nav-item mt-3">
                <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6">Account pages</h6>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   th:classappend="${requestURI == '/member/profile-pwd-check'} ? ' active'"
                   href="javascript:void(0);"
                   onclick="openChangeword();">
                    <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                        <i class="ni ni-single-02 text-dark text-sm opacity-10"></i>
                    </div>
                    <span class="nav-link-text ms-1">Profile</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="sidenav-footer mx-3 " style="position: fixed; bottom: 50px;">


        <a th:href="@{/member/sign-in}" class="btn btn-dark btn-sm mb-3" style="width: 215px; display: block; margin-bottom: 10px;" type="button">Sign In</a>
        <a th:href="@{/member/logout}" class="btn btn-primary btn-sm mb-0" style="width: 215px; display: block;" type="button">Logout</a>

        <!--                <form th:action="@{/member/logout}" method="get">-->
        <!--            -->
        <!--                    <button type="submit" class="btn btn-primary btn-sm mb-0" style="width: 200px;">Logout</button>-->
        <!--                </form>-->

    </div>




    <script>
        function openChangeword() {
            const width = 550;
            const height = 300;
            const left = (screen.width - width) / 2;
            const top = (screen.height - height) / 4;
            window.open('/member/profile-pwd-check', '비번재설정공지창', `width=${width},height=${height},left=${left},top=${top},scrollbars=yes`);
        }
    </script>
</aside>
</html>