<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <!-- 필요한 CSS 및 JS 파일 링크 추가 -->
</head>
<body>
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="false">
        <div class="container-fluid py-1 px-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                    <li class="breadcrumb-item text-sm">
                        <a class="opacity-5 text-white" href="javascript:;" th:href="@{/pages}">Pages</a>
                    </li>
                    <li class="breadcrumb-item text-sm text-white active" aria-current="page" th:text="${pageTitle}"></li>
                </ol>
                <h6 class="font-weight-bolder text-white mb-0" th:text="${pageTitle}"></h6>
            </nav>
        </div>
    </nav>
</body>
</html>
