<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 찾기</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link th:href="@{/css/nucleo-icons.css}" rel="stylesheet" />
    <link th:href="@{/css/nucleo-svg.css}" rel="stylesheet" />
    <link th:href="@{/css/argon-dashboard.css?v=2.0.4}" rel="stylesheet" />
</head>

<body class="">
<main class="main-content mt-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 text-center mx-auto">
                <h1 class="mb-2 mt-5">비밀번호 찾기</h1>
                <p class="text-lead">입력한 이메일로 임시 비밀번호가 전송됩니다.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-lg-n4 mt-md-n4 mt-n4 justify-content-center">
            <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
                <form th:action="@{/member/temporary_pwd}" method="post">
                    <!--<input type="hidden" th:if="${_csrf != null}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
                    <div class="mb-3">
                        <label for="email" class="form-control-label">이메일</label>
                        <input type="email" id="email" name="email" class="form-control form-control-lg" placeholder="이메일을 입력하세요" required>
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-control-label">이름</label>
                        <input type="text" id="name" name="name" class="form-control form-control-lg" placeholder="이름을 입력하세요" required>
                    </div>
                    <div class="text-center">
                        <button type="button" id="checkEmailandName" class="btn btn-lg btn-primary btn-lg w-100 mt-4 mb-0">비밀번호 발송</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/sendemail.js}"></script>
</body>

</html>
